@model BookStoreWeb.Models.Domain.Type

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Bạn chắc chắn xóa thể loại này không ?</h3>
<div>
    <h4>Thể loại</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên thể loại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TypeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
